<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="bg-info parent">
      <div class="div2 text-danger"><p>Final Exam</p></div>
      <div class="div3 text-light">
        <p>Find all prime numbers between two numbers</p>
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="div4 text-success">
      <h1 class="input2">
        Number 1: <br />
        <input
          class="input1"
          type="number"
          id="quantity"
          name="quantity"
          required
        />
      </h1>
      <h1 class="input3">
        Number 2: <br />
        <input
          type="number"
          class="input1"
          type="number"
          id="quantity"
          name="quantity"
          required
        />
      </h1>
    </div>
    <div>
      <div>&nbsp;</div>
      <button type="submit" id="submit" class="btn-primary-warning button">
        Submit
      </button>
    </div>
    <div>&nbsp;</div>
    <div id="result" class="text-success results">Calculation Result:</div>
    <textarea class="result" id="message" rows="6" cols="260">

    </div> </textarea
    >
    <script src="app.js"></script>
  </body>
</html>
